doctype html
html
    head
        meta(charset="utf-8")
        meta(name="renderer",content="webkit")
        meta(http-equiv="X-UA-Compatible",content="IE=edge,chrome=1")
        block title
            title Web title
        link(rel='stylesheet', type='text/css', href='/dist/content/css/global.css')
        block style

    body
        block content
        script(src="/dist/content/js/vendor/jquery-2.2.0.min.js")
        script(src="/dist/content/js/vendor/svg4everybody.min.js")
        block javascript
