*~
.DS_Store
node_modules/
.svn
.vscode
.idea
.npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*
_act*
*.swp
*.tmp
tmp
runtime/*
run/*
bower_components/
run.log
.upload/
.cache/
npm-debug.log
selenium-debug.log
ChinaFrontEnd
/dest