@mixin cols-generator ($n, $base-width, $base-gap, $prefix: '') {
  $base-gap-percentage: $base-gap/$base-width;
  $total-gap-percentage: $base-gap-percentage * ($n - 1);
  $base-column-percentage: (1 - $total-gap-percentage) / $n;
  @for $i from 1 through $n {
    $this-class: '.' + $prefix + 'col-' + $i;
    $width: ($i * $base-column-percentage + ($i - 1) * $base-gap-percentage) * 100%;

    @if $i == $n {
      & > #{$this-class},
      & > .#{$prefix}whole {
        width: $width;
      }
    }
    @if $i == $n/2 {
      & > #{$this-class},
      & > .#{$prefix}half {
        width: $width;
      }
    } @else if $i == $n/3 {
      & > #{$this-class},
      & > .#{$prefix}one-third {
        width: $width;
      }
    } @else if $i == $n/4 {
      & > #{$this-class},
      & > .#{$prefix}quarter {
        width: $width;
      }
    } @else {
      & > #{$this-class} {
        width: $width;
      }
    }
  }
}
