extends ./_layout/layout

block title
    title Web Title
block style
    //- link(rel="stylesheet", type="text/css" href="../content/css/homepage.css")

block content

    //header
    include  ./_layout/header

    .container

    //footer
    include  ./_layout/footer

//需要的js文件
block javascript



