$alizarin:     #FF4B39;
$pomegranate:  #DF3626;

$carrot:       #FF7F0B;
$pumpkin:      #F25300;

$sun-flower:   #FFC500;
$orange:       #FF9D00;

$emerald:       #00CD6B;
$nephritis:     #00B05A;

$turquoise:     #00BD9C;
$green-sea:     #00A185;

$peter-river:   #0099DB;
$belize-hole:   #0081BC;

$amethyst:      #23475F;
$wisteria:      #1C3C50;

$wet-asphalt:   #AF59BA;
$midnight-blue: #A342B1;

$clouds:        #EBF0F1;
$silver:        #BCC4C8;

$concrete:      #8FA7A8;
$asbestos:      #7A8D8E;

$GC:            #CCC;
$G9:            #999;
$G6:            #666;
$G3:            #333;




$inkivy-major:  #C1A779;
$inkivy-minor:  #34312A;

$inkivy-major-80: #CDB994;
$inkivy-major-60: #DACAAF;
$inkivy-major-40: #E6DCC9;
$inkivy-major-20: #F3EDE4;
$inkivy-major-10: #F9F6F1;

$inkivy-minor-80: #5D5A55;
$inkivy-minor-60: #85837F;
$inkivy-minor-40: #AEADAA;
$inkivy-minor-20: #D6D6D4;
$inkivy-minor-10: #EAEAE9;


$inkivy-background: #FFFCF5;

$translucent:  rgba(255,255,255,.96);